@charset "UTF-8";
:root {
  --primary-color: #2a7da7;
  --menu-bg-color: #fafafa;
  --dark-menu-bg-color: #333;
  --menu-font: NexaHeavy, Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  display: block;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
}

body.overlay-active {
  overflow: hidden;
}
body.overlay-active .overlay {
  display: block;
}

.submenu {
  z-index: 1000;
}

@media screen and (max-width: 799px) {
  .display-mobile-only {
    display: block;
  }

  .display-desktop-only {
    display: none;
  }

  .logo img {
    margin: 10px;
  }

  .nav-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
    z-index: 1100;
  }
  .nav-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    transition: all 100ms ease-in-out;
  }
  .nav-toggle:hover {
    cursor: pointer;
  }
  .nav-toggle .x:nth-of-type(1) {
    transition: all 100ms ease-in-out;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 28px;
    background-color: var(--primary-color);
  }
  .nav-toggle .x:nth-of-type(2) {
    transition: all 100ms ease-in-out;
    transform-origin: center;
    width: 0;
    background-color: var(--primary-color);
  }
  .nav-toggle .x:nth-of-type(3) {
    transition: all 100ms ease-in-out;
    transform: rotate(-45deg);
    transform-origin: bottom left;
    width: 28px;
    background-color: var(--primary-color);
  }

  .primary-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--menu-bg-color);
    overflow-y: auto;
    transition: 0.4s;
    padding-top: 25px;
    z-index: 1000;
  }
  .primary-menu ul {
    list-style: none;
    padding: 0;
  }
  .primary-menu ul li {
    padding: 15px;
  }
  .primary-menu a,
.primary-menu .non-link {
    text-decoration: none;
    color: var(--primary-color);
    display: block;
    font-size: 18px;
    padding-left: 15px;
  }
  .primary-menu .has-submenu > a:after {
    content: "›";
    color: var(--primary-color);
    font-size: 25px;
    padding-left: 5px;
    font-weight: bold;
  }
  .primary-menu .has-submenu > .submenu {
    display: none;
    position: absolute;
    background-color: var(--menu-bg-color);
    top: 50px;
    bottom: 0;
    width: 250px;
    right: -250px;
    transition: 0.4s;
  }
  .primary-menu .has-submenu > .submenu li {
    padding: 15px;
    padding-left: 30px;
  }
  .primary-menu .selected-menu > .submenu {
    display: block;
    right: 0;
    transition: 0.4s;
  }
  .primary-menu .submenu > li {
    background-image: none !important;
    padding: 15px;
  }
  .primary-menu.active {
    right: 0;
  }
  .primary-menu.active .selected-menu .submenu {
    right: 0;
  }
}
@media screen and (min-width: 800px) {
  .display-mobile-only {
    display: none;
  }

  .display-desktop-only {
    display: block;
  }

  .nav-toggle {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 10px;
    font-family: var(--menu-font);
  }
  .header .primary-menu > ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
  }
  .header .primary-menu > ul > li {
    background-color: #fff;
    border: none;
    font-family: var(--menu-font);
    font-size: 13px;
    place-items: center;
    display: grid;
    padding: 0 5px;
  }
  .header .primary-menu > ul > li:hover, .header .primary-menu > ul > li:active, .header .primary-menu > ul > li.selected-menu {
    background-color: rgb(31, 72, 106);
  }
  .header .primary-menu > ul > li:hover > a, .header .primary-menu > ul > li:active > a, .header .primary-menu > ul > li.selected-menu > a {
    color: #fff;
  }
  .header .primary-menu > ul > li .submenu {
    display: none;
  }
  .header .primary-menu > ul > li.selected-menu .submenu {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1080px;
    width: 90%;
    background-color: #edecec;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    top: 75px;
    white-space: normal;
    border-radius: 5px;
    padding: 30px 25px;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.image-panels {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    justify-content: flex-start;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.image-panels li:not(.close-submenu) {
    background-size: contain;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.image-panels li:not(.close-submenu) a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    font-family: NexaRegular, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 25.6px;
    color: #fff;
    padding: 0;
    background: linear-gradient(to bottom, transparent 50%, #1F486A 50%);
  }
  .header .primary-menu > ul > li.selected-menu .submenu.image-panels li:not(.close-submenu) a span {
    display: block;
    text-align: left;
    height: 60px;
    display: block;
    padding: 5px 20px;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists {
    display: flex;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists a {
    display: block;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists .sub-submenu {
    flex: 1;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists .sub-submenu:last-child {
    border-left: thin #ddd solid;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists .sub-submenu > a {
    font-size: 1.25rem;
  }
  .header .primary-menu > ul > li.selected-menu .submenu.large-lists .sub-submenu .column {
    columns: 2;
  }
  .header .primary-menu > ul > li.selected-menu .submenu .close-submenu {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .header .primary-menu > ul > li.selected-menu .submenu .close-submenu a {
    padding: 0;
    width: 100px;
  }
  .header .primary-menu > ul > li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 1vw;
    color: var(--primary-color);
    text-decoration: none;
  }
  .header .primary-menu > ul > li .non-link {
    padding: 10px 1vw;
    width: 100%;
  }
}