@media screen and (min-width: 800px) {
    .display-mobile-only{
        display:none;
    }
    .display-desktop-only{
        display:block;
    }
    
    .nav-toggle {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 0 10px;
        font-family: var(--menu-font);

        .primary-menu {

            // Top Menu
            &>ul {
                list-style-type: none;
                display: flex;
                flex-flow: row nowrap;
                //gap: .5vw;

                // Top Menu item
                &>li {
                    //text-transform: uppercase;
                    //line-height: 1;
                    background-color: #fff;
                    border: none;
                    font-family: var(--menu-font);
                    font-size: 13px;
                    place-items: center;
                    display: grid;
                    padding: 0 5px;

                    &:hover,
                    &:active,
                    &.selected-menu {
                        background-color: rgb(31, 72, 106);

                        &>a {
                            color: #fff;
                        }
                    }
                    .submenu{
                        display:none;
                    }
                    &.selected-menu {

                        // submenu layer 1
                        .submenu {
                            position: fixed;
                            left: 50%;
                            transform: translate(-50%, 0);
                            max-width: 1080px;
                            width: 90%;
                            background-color: #edecec;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: center;
                            top: 75px;
                            white-space: normal;
                            border-radius: 5px;
                            padding: 30px 25px;

                            // &>li {
                            //     display: block;
                            // }

                            &.image-panels {
                                display: flex;
                                flex-flow: row wrap;
                                gap: 15px;
                                justify-content: flex-start;

                                li:not(.close-submenu) {
                                    background-size: contain;

                                    a {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-end;
                                        align-items: flex-start;

                                        width: 200px;
                                        height: 150px;
                                        font-family: NexaRegular, Arial, sans-serif;
                                        font-size: 16px;
                                        font-weight: 400;
                                        letter-spacing: 0.3px;
                                        line-height: 25.6px;
                                        color: #fff;
                                        padding: 0;
                                        background: linear-gradient(to bottom, transparent 50%, #1F486A 50%);


                                        span {
                                            //background-color: #1F486A;
                                            display: block;
                                            text-align: left;
                                            height: 60px;
                                            display: block;
                                            padding: 5px 20px;
                                        }
                                    }
                                }

                            }

                            &.large-lists {
                                display: flex;

                                a {
                                    display: block;
                                }



                                .sub-submenu {
                                    flex: 1;
                                    &:last-child{
                                        border-left: thin #ddd solid;
                                    }
                                    &>a {
                                        font-size: 1.25rem;
                                    }

                                    .column {
                                        columns: 2;
                                    }

                                }
                            }

                            .close-submenu {
                                position: absolute;
                                right:0;
                                top: 10px;

                                a {
                                    padding: 0;
                                    width: 100px;
                                }
                            }
                            // .close-submenu {
                            //     flex-basis: 100%;
                            //     display: flex;
                            //     flex-flow: row-reverse nowrap;

                            //     a {
                            //         padding: 0;
                            //         width: 100px;
                            //     }
                            // }
                        }
                    }

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        padding: 10px 1vw;
                        color: var(--primary-color);                        ;
                        text-decoration: none;

                    }
                    .non-link{
                        padding: 10px 1vw;
                        width: 100%;
                    }
                }

                // Submenu
                // .submenu{
                //     //display:none;
                // }

            }
        }
    }
}