@media screen and (max-width: 799px) {
    .logo {
        img {
            margin: 10px;
        }
    }

    .nav-toggle {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
        width: 22px;
        z-index: 100;

        .bar {
            height: 3px;
            width: 100%;
            background-color: black;
            transition: all 100ms ease-in-out;
        }

        &:hover {
            cursor: pointer;
        }

        .x:nth-of-type(1) {
            transition: all 100ms ease-in-out;
            transform: rotate(45deg);
            transform-origin: top left;
            width: 28px;
            background-color: #fff;
        }

        .x:nth-of-type(2) {
            transition: all 100ms ease-in-out;
            transform-origin: center;
            width: 0;
            background-color: #fff;
        }

        .x:nth-of-type(3) {
            transition: all 100ms ease-in-out;
            transform: rotate(-45deg);
            transform-origin: bottom left;
            width: 28px;
            background-color: #fff;
        }

    }

    .primary-menu {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        overflow-y: auto;
        transition: 0.4s;
        padding-top: 25px;

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 15px;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: block;
            font-size: 18px;
        }

        .selected-menu {
            .submenu {
                display: block;
            }
        }
        &.slider{
            .selected-menu {
                .submenu {
                    display: block;
                    position: absolute;
                    background-color: #333;
                    top: 50px;
                    bottom: 0;
                    right: 0;
                    width: 250px;
                    right: -250px;
                    transition: 0.4s;
                }
            }
    
        }
        .submenu {
            &>li {
                background-image: none !important;
            }
        }

        .has-submenu {
            .column {
                display: none;
            }

            &>a {
                &:after {
                    content: "\203A";
                    color: white;
                    font-size: 25px;
                    padding-left: 5px;
                    font-weight: bold;
                }
            }
        }

        &.active {
            right: 0;
            &.slider{
                .selected-menu {
                    .submenu {
                        right: 0;
                    }
                }
        
            }
            }
    }
}