//@import 'normalize';

:root {
    --primary-color: #2a7da7;
    --menu-bg-color: #fafafa;
    --dark-menu-bg-color: #333;
    --menu-font: NexaHeavy, Arial, sans-serif;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  .container {
    display:block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    img {
        width: 100%;
        height: auto;
        max-width: 150px;
    }
}

ul {
    padding: 0;
    li{
        list-style-type: none;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    cursor: pointer;
    z-index: 999;
    overflow:hidden;

}

body{
    &.overlay-active{
        overflow:hidden;
        .overlay {
            display: block;
        }
    }
}

.submenu{
    z-index: 1000;
}

@import 'mobile', 'desktop';